.contact {
    // caixa que contem a foto e o formulario
  

    margin: 2%;
    padding-top: 5%;
    .container-photo-form {
        background-color: rgba($color: #ffffff, $alpha: 0.2);
        margin-top: 5%;
        display: flex;
        width: 100%;
        justify-content: space-around;
       
        .photo-container {
            display: flex;
            
            margin-top: 5%;
            margin-left: -4.8%;
        
           
            width: 30%;
            height: 100%;
            #img-photo {
               
                width:80% ;
               
           
            }
        }

        .container-form {
           display: flex;
           align-items: center;
            .text-form {
                .h1-form {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    
                    #h1-1 {
                        font-size: 40px;
                        margin-bottom: 2%;
                      }
                
                }
                fieldset {
                    display: flex;
                    justify-content: space-around;
                    
                }
                .container-label-form {
                  
                    .container-label {
                       
                        form{
                            
                            label{
                               
                            }
                            .text-area{
                                
                            }
                        }
                    }
                }
            }
        }
    }
}