@import "variable";
.pitch {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding-top: 5%;

    
}